<form class="example-form">



  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="{{placeholder.name}}" [(ngModel)]="name" name="name" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="name" matInput placeholder="{{placeholder.email}}" [(ngModel)]="email" name="email" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input type="number" matInput placeholder="{{placeholder.age}}" [(ngModel)]="age" name="age" >
  </mat-form-field>

  <button mat-flat-button>Submit</button>

  <div class="output">
    <h4 *ngIf="name">Name : {{ name }} </h4>
    <h4 *ngIf="email">E-mail: {{ email }}</h4>
    <h4 *ngIf="age">Age: {{ age }} </h4>
  </div>

</form>

